body {
    background: #E5E9F2;
    text-align: center;
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Teste Gambiarra fodida pra logo com posição absolute */
.logo {
    position: absolute;
    top: 27px;
    left: 27px;
    padding: 8px;
    background-color:#fff;
    border: none;
    border-radius: 100%;
    color: #49D888;
    text-decoration: none;
    font-family: Cascadia Code, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

#menu ul {
    background-color: #49D888;
    list-style: none;
    border-radius: 18px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 20px;
    display: inline-block;
    color: #333;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #2C8B56;
    color: #FFF;
    transition: background-color 2s;
}

.map {
    position: absolute; 
    top: 100px; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}
.map iframe {
    display: block; 
    width: 100%; 
    height: 100%; 
    border: none;
}

.sobrenos {
    display: inline-block;
    max-width: 800px;
}

#corpo {
    display: inline;
    color: #8190A5;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}

.legenda {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.legenda div {padding: 10px 0;}

.legenda div img {
    width: 64px;
    height: 64px;
}