body {
    background: #E5E9F2;
    text-align: center;
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Gambiarra fodida pra logo com posição absolute */
.logo {
    position: absolute;
    top: 27px;
    left: 27px;
    padding: 8px;
    background-color:#FFF;
    border: none;
    border-radius: 100%;
    color: #49D888;
    font-family: Cascadia Code, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.logo:hover{
    background-color: #2C8B56;
    color: #FFF;
    transition: background-color 0.5s;
}

#menu ul {
    background-color: #49D888;
    list-style: none;
    border-radius: 18px;
    line-height: normal;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 20px;
    display: inline-block;
    color: #333;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #2C8B56;
    color: #FFF;
    transition: background-color 0.5s;
}

.bootstrapnavfix {
    margin-top: 16px; 
    margin-left: 8px; 
    margin-right: 8px;
}

.map {
    position: absolute; 
    top: 100px; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

.map iframe {
    display: block; 
    width: 100%; 
    height: 100%; 
    border: none;
}

.sobrenos {
    display: inline-block;
    max-width: 800px;
    margin-bottom: 40px;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
}

.info iframe {
    border-radius: 18px;
    width: 90%;
}

.corpo {
    color: rgb(91, 102, 117);
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}

.legenda {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.legenda div {padding: 10px 0;}

.legenda div img {
    width: 64px;
    height: 64px;
}

.formulario {
    text-align: left;
    margin: 30px;
}

input[id^="spoiler"]{
    display: none;
}
input[id^="spoiler"] + label {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 5px 20px;
    background: #007bff;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all .6s;
}
input[id^="spoiler"]:checked + label {
    background: #015ed3;
}
input[id^="spoiler"]:hover + label {
    background: #015ed3;
}
input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0; 
    text-align: left; 
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all .6s;
}
input[id^="spoiler"] ~ .spoiler img {
    width: 16px;
    height: 16px;
}
input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
}   