body {
    background-image: url(images/background.jpg);
    background-color: #E5E9F2;
    background-size: 100%;
    text-align: center;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fundo {
    background-color: #E5E9F2;
    border-radius: 12px;
}

hr {
    margin: 2rem;
    height: 1px;
    width:100%;
    display:block;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nossafonte {
    color: rgb(91, 102, 117);
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}

.logo {
    margin: 5px;
    padding: 8px;
    background-color:#fff;
    border: none;
    border-radius: 100%;
    color: #49D888;
    font-family: Cascadia Code, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.logo:hover{
    background-color: #2C8B56;
    color: #efe;
    transition: background-color 0.5s;
}

.menu {
    background-color: #49D888;
    border-radius: 18px;
    line-height: normal;
}

.menu ul li a {
    padding: 20px !important;
    color: #333 !important;
}

.menu ul li a:hover {
    background-color: #2C8B56;
    color: #efe !important;
    transition: background-color 0.5s;
}

.map {height: 87vh;}

.iframeborder iframe, .card form {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.img-64 img {
    width: 64px;
    height: 64px;
}

.img-16 img {
    width: 16px;
    height: 16px;
}

.grid3 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid3 div {padding: 10px 0;}

.grid3 div img {
    width: 64px;
    height: 64px;
}